@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Lato/fonts/Lato-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/Lato/fonts/Lato-Bold.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: #7DA25F;
    color: #fff;
}
.logo {
    width: 250px; /* Adjust as needed */
    height: auto;
}
h1 {
    margin: 0;
    margin-left: 10px; /* Add margin to separate logo and title */
}
.nav-links {
    display: flex;
}
.nav-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 30px;
}
.placeholder-image {
    width: 100%;
    height: 700px; /* Adjust height as needed */
    background-image: url('/static/home_background.png'); /* Placeholder image URL */
    background-size: cover;
    background-position: center;
    margin-top: 0px; /* Adjust margin as needed */
    position: relative;
}
.search-bar-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-bar {
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.search-bar input {
    width: 100%;
    border: none;
    outline: none;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 10px;
}
.search-bar button {
    background-color: #7DA25F;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
}
.find-friends-text {
    color: #FFFFFF;
    text-align: center;
    font-size: 35px;
    margin-bottom: 10px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    word-wrap: break-word;
    font-family: 'Lato', sans-serif;
}
.upcoming-events {
    text-align: center;
    margin-top: 0px;
}
.event {
    display: inline-block;
    margin: 0 30px; /* Adjust margin to space out the events */
    text-align: center;
    transition: transform 0.3s; /* Add transition for smooth effect */
}
.event-image img {
    width: 200px;
    height: 150px;
    cursor: pointer;
}
.UE-title {
    font-size: 20px;
    margin-top: 10px;
    text-align: left; /* Align text to the left */
    padding-left: 50px; /* Add some padding to the left */
}
.event:hover {
    transform: scale(1.1); /* Scale up by 10% on hover */
}
.event-label {
    font-size: 17px;
    margin-top: 5px;
}
