{% extends "base.html" %}
{% load static %}
{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="navbar">
    <div>
        <img src="/applet/static/images/Logo.png" alt="Logo" class="logo">
        <link rel="stylesheet" type="text/css"  href="/applet/static/styles.css">
    </div>
    <div class="nav-links">
        <a href="/">Home</a>
        <a href="{% url 'about_us' %}">About Us</a>
        <a href="{% url 'upload_event' %}">Create</a>
        <a href="{% url 'prize_list' %}">Prizes</a>
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'signup' %}">Sign Up Here</a>
    </div>
</div>
<p></p>
<div class="sign-up-container"></div>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ event.event_name }}</title>
    <div>
        <h1>{{ event.event_name }}</h1>
        <p><strong>Date:</strong> {{ event.event_date }}</p>
        <p><strong>Location:</strong> {{ event.location }}</p>
        <p><strong>Instructor:</strong> {{ event.instructor }}</p>
        <p><strong>Description:</strong> {{ event.description }}</p>
        <p><strong>Attendees:</strong></p>
        <ul>
            {% for attendee in event.attendees.all %}
                <li>{{ attendee.username }}</li>
            {% endfor %}
        </ul>
        <p><strong>Image:</strong></p>
        <img src="{{ event.image.url }}" alt="{{ event.event_name }}">
        <p><strong>Coins:</strong> {{ event.coins }}</p>
    </div>
</div>
{% endblock %}
