<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="/applet/static/styles.css">
<title>Health&Harmony</title>


</head>
<body>
<div class="navbar">
    <div>
        <img src="/applet/static/images/Logo.png" alt="Logo" class="logo">
    </div>
    
    {% if request.user.is_authenticated %}
    <p>Welcome, {{ request.user.username }}!</p>
    <!-- Display features for authenticated users -->
{% else %}
    <p>Welcome, Guest!</p>
    <!-- Display features for guests -->
{% endif %}
    <div class="nav-links">
        <a href="/">Home</a>
        <a href="{% url 'about_us' %}">About Us</a></li>
        <a href="#">Workshops</a>
        <a href="{% url 'upload_event' %}">Create</a>
        <a href="{% url 'prize_list' %}">Prizes</a>
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'signup' %}">Sign Up Here</a>
    </div>
</div>
<div class="placeholder-image">
<img src="/applet/static/images/home_background.png" >
    <div class="search-bar-container">
        <div class="find-friends-text">
            Find new friends and your next adventure!
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Search events and people around you" list="events">
            <datalist id="events">
                <option value="Morning Yoga Sessions">
                <option value="Learn Hiking Basics and Essentials">
                <option value="Snowboard and Ski Trip to Cyp">
            </datalist>
            <button>Search</button>
        </div>
    </div>
</div>
<div class="upcoming-events">
    <div class="event-container">
        {% for event in events %}
        <div class="event-item">
            <h4>{{ event.event_name }}</h4>
            <p>Date: {{ event.event_date }}</p>
            <p>Location: {{ event.location }}</p>
            <p>Instructor: {{ event.instructor }}</p>
            <!-- Add more details as needed -->
            <img src="{{ event.image.url }}" alt="{{ event.event_name }}">
        </div>
        {% endfor %}

</div>
</body>
</html>
