<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="/applet/static/styles.css">
<title>Health&Harmony</title>


</head>
<body>
<div class="navbar">
    <div>
        <img src="/applet/static/images/Logo.png" alt="Logo" class="logo">
    </div>
    <div class="nav-links">
        <a href="/">Home</a>
        <a href="#">About Us</a>
        <a href="#">Workshops</a>
        <a href="#">Create</a>
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'signup' %}">Sign Up Here</a>
    
    </div>
</div>
<div class="placeholder-image">
<img src="/applet/static/images/home_background.png" >
    <div class="search-bar-container">
        <div class="find-friends-text">
            Find new friends and your next adventure!
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Search events and people around you" list="events">
            <datalist id="events">
                <option value="Morning Yoga Sessions">
                <option value="Learn Hiking Basics and Essentials">
                <option value="Snowboard and Ski Trip to Cyp">
            </datalist>
            <button>Search</button>
        </div>
    </div>
</div>
<div class="upcoming-events">
    <div class="UE-title">Upcoming Events</div>
    <div class="event">
        <div class="event-image">
            <a href="#"><img src="/applet/static/images/yoga.png" alt="Morning Yoga Sessions"></a>
        </div>
        <div class="event-label">Morning Yoga Sessions</div>
    </div>
    <div class="event">
        <div class="event-image">
            <a href="#"><img src="/applet/static/images/hiking.png" alt="Learn Hiking Basics and Essentials"></a>
        </div>
        <div class="event-label">Learn Hiking Basics and Essentials</div>
    </div>
    <div class="event">
        <div class="event-image">
            <a href="#"><img src="/applet/static/images/snowboarding.png" alt="Snowboard and Ski Trip to Cypress"></a>
        </div>
        <div class="event-label">Snowboard and Ski Trip to Cyp</div>
    </div>
</div>
</body>
</html>
