<!-- prize_list.html -->
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/applet/static/prize.css">
    <title>Prize List</title>
</head>
<body>
<div class="navbar">
    <a href="/">
        <img src="/applet/static/images/Logo.png" alt="Logo" class="logo">
    </a>
    <div class="nav-links">
        <a href="/">Home</a>
        <a href="{% url 'about_us' %}">About Us</a></li>
        <a href="{% url 'upload_event' %}">Create</a>
        <a href="{% url 'prize_list' %}">Prizes</a>
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'signup' %}">Sign Up Here</a>
    </div>
</div>
<body>
    <div class="my-heading">Prize List</div>
    <body>
        <div class="prize-container">
            {% for prize in prizes %}
            <div class="prize-item">
                <h4>{{ prize.prize_name }}</h4>
                <p>Points Required: {{ prize.price }}</p>
                <img src="{{ prize.image.url }}" >
            </div>
            {% endfor %}
        </div>
    </body>

    {% if request.user.is_authenticated %}
    {% if userprofile %}
        <p>You have {{ userprofile.coins }} coins!</p>
        <!-- Display features for authenticated users -->
    {% else %}
        <p>User profile not found.</p>
        <!-- Handle case where user profile doesn't exist -->
    {% endif %}
{% else %}
    <p>You are not logged in.</p>
    <!-- Display features for guests -->
{% endif %}
</html>