{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="navbar">
    <div>
        <a href="/">
            <img src="/applet/static/images/Logo.png" alt="Logo" class="logo">
        </a>
        <link rel="stylesheet" type="text/css"  href="/applet/static/styles.css">
    </div>
    <div class="nav-links">
        <a href="/">Home</a>
        <a href="{% url 'about_us' %}">About Us</a>
        <a href="{% url 'upload_event' %}">Create</a>
        <a href="{% url 'prize_list' %}">Prizes</a>
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'signup' %}">Sign Up Here</a>
    </div>
</div>
<p></p>
<div class="login-container">
    <div class="login-heading">Log In</div>
    <div class="icon-placeholder" style="background-image: url('/applet/static/images/user_icon.jpg'); background-size: contain;"></div>
    <form method="post">
      {% csrf_token %}
      <div class="login-input">
          {{ form }}
      </div>
      <button type="submit" class="login-button">Log In</button>
    </form>
    <p>Don't have an account? <a href="{% url 'signup' %}">Sign up here</a></p>
</div>
{% endblock %}
