{% extends "base.html" %}
{% load static %}
{% block title %}Sign Up{% endblock %}

{% block content %}

<div class="navbar">
    <div>
        <img src="/applet/static/images/Logo.png" alt="Logo" class="logo">
        <link rel="stylesheet" type="text/css"  href="/applet/static/styles.css">
    </div>
    <div class="nav-links">
        <a href="{% url 'home' %}">Home</a>
        <a href="#">About Us</a>
        <a href="#">Workshops</a>
        <a href="#">Create</a>
        <a href="{% url 'login'%}">Login</a>
        <a href="{% url 'signup'%}">Sign Up Here</a>
    </div>
</div>
<div class="login-heading">Sign up</div>
<div class="sign-up-container">
    <div class="signup-title">Sign Up</div>
    <div class="icon-placeholder">
        <!-- Placeholder for user icon -->
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="input">
            <input type="text" name="username" placeholder="Username">
        </div>
        <div class="input">
            <input type="password" name="password" placeholder="Password">
        </div>
        <button type="submit">Sign Up</button>
    </form>
</div>
{% endblock %}
